.messageCOntainer{
    position: relative;
    width: 100%;
    word-wrap: break-word;
    margin: 20px 0;
    padding-left: 50px;
}

.fa-user-circle
{
    display: none;
    font-size: 2.2rem;
    top:0;
    left:0;
}
.messageUser{
    font-weight: bold;
    font-size: 0.9rem;
}
.messageText{
    font-size: 0.9rem;
    margin:5px 0;
}
.messageIconsContainer
{
    margin:6px;
    display: inline-block;
    padding: 3px;
    color:gray;
    
    cursor: pointer;
}
.arrowReplies
{
    margin-top: 10px;
    cursor: pointer;
}
.arrowReplies > *{
    color: darkcyan;
    display: inline-block;
}
.arrowReplies > i{
    margin-right: 10px;
}

.subMessage
{
    padding: 10px;
}